@use '../../partials/breakpoints' as *;
@use '../../partials/colors' as *;
@use '../../partials/textstyles' as *;
@use '../../partials/typeface' as *;

.importIntroPoem {

    &__text {
        font-size: $h2_text_size_m;
        line-height: $h2_line_height_m;  
        @include tablet {
            font-size: $h2_text_size_dt;
            line-height: $h2_line_height_dt;  
        }
    }
}