@use '../../partials/breakpoints' as *;
@use '../../partials/colors' as *;
@use '../../partials/textstyles' as *;
@use '../../partials/typeface' as *;

.dictionaryDefinitions {

    &__container {
        display: flex;
        flex-direction: column;  
        overflow-y: scroll;
        height: 55vh;  
        border: 0.5px $light_grey solid;
        box-shadow: 
            12px 12px 16px 0 rgba(0, 0, 0, 0.25),
            -8px -8px 12px 0 rgba(255, 255, 255, 0.3);        
        border-radius: 4%;;
        padding: 40px;
        
 
    }

    &__title {
        font-size: $h4_text_size_m;
        line-height: $h4_line_height_m;
        @include tablet {
            font-size: $h4_text_size_dt;
            line-height: $h4_line_height_dt;
        }
    }

    &__fullMeanings-container {
        padding-bottom: 30px;
    }

    &__fullMeanings {
        display: flex;
        flex-direction: column;
        padding: 50px;
        border-radius: 66px;
        background: #ffffff;
        box-shadow: inset 17px 17px 34px #c7c7c7,
                    inset -17px -17px 34px #ffffff;

    }

    &__bold {
        font-family: 'Montserrat Semi Bold';
    }

    &__examples {
        font-family: 'Montserrat Light Italic';
    }


}