@use '../../partials/breakpoints' as *;
@use '../../partials/colors' as *;
@use '../../partials/textstyles' as *;
@use '../../partials/typeface' as *;

.dictionaryHeader {

    &__container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        height: 35vh;
        width: 100%;
    }

    &__heading {
        font-family: 'Montserrat Light';
        font-size: 7vw;
        text-transform: uppercase;
    }

    &__inputs {
        display: flex;
        justify-content: space-around;
        width: 100%;;
    }

    &__searchBar {
        width: 45%;
    }

    &__language {
        width: 35%;
    }
}