@use '../../partials/breakpoints' as *;
@use '../../partials/colors' as *;
@use '../../partials/textstyles' as *;
@use '../../partials/typeface' as *;


.discoverPoetry {

    &__section {
        @include tablet {
            display: flex;
            flex-direction: row;
        }
    }

    &__form {
        background-color: $light_blue;
        color: $white;
        padding: 60px;
    }

    &__poems {
        font-family: 'Montserrat Medium';
        font-size: $h3_text_size_m;
        padding-top: 60px;

    }
    &__heading {
        font-family: 'Dancing Script Regular';
        font-size: $h1_text_size_m;
        @include tablet {
            font-size: $h1_text_size_dt;
        }
    }


}