@use '../../partials/breakpoints' as *;
@use '../../partials/colors' as *;
@use '../../partials/textstyles' as *;
@use '../../partials/typeface' as *;

.welcomePage {

    &__container {
        display: flex;
        flex-direction: column;
        @include tablet {
            flex-direction: row;
        }
    }

    &__container-top {
        padding: 250px 20px 150px 20px;
        @include tablet {
            display: flex;
            justify-content: center;
            padding: 240px 20px 240px 20px;
        }
    }

    &__container-bottom {
        padding: 100px 20px;
        @include tablet {
            align-items: center;
            width: -webkit-fill-available;
        }
    }

    &__container-bottom {
        display: flex;
        justify-content: center;
        background-color: $light_mint;

    }

    &__positioning {
        @include tablet {
            display: flex;
            flex-direction: column;
        }
    }
}