@use '../../partials/breakpoints' as *;
@use '../../partials/colors' as *;
@use '../../partials/textstyles' as *;
@use '../../partials/typeface' as *;

.poemCard {

    &__container {
        padding: 60px 40px;
        @include tablet {
            display: flex;   
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;                     
        }
    }

    &__card {
        border: 0.5px $light_grey solid;
        box-shadow: 
            5px 10px 20px 1px 
            rgba(0, 0, 0, 0.5)
            ;        
        border-radius: 4%;
        padding: 60px;
        @include tablet {
            width: 30%;
        }    
    }


    &__body {
        padding-bottom: 80px;
        @include tablet {
            display: contents;
        }
    }

    &__image {
        width: 100%;
        border-radius: 10px;
    }


    &__subheadings {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__likes-container {
        display: flex;
        flex-direction: row;
    }

    &__poem-collapsible {
        padding-bottom: 10px;
    }

    &__content {
        white-space: pre-line;
    }

    &__poem-button {
        background-position: center;
        transition: background 0.8s;
        
    }
    &__poem-button:hover {
        background-color: $light_blue;
        background-image: 
            radial-gradient(
                circle, transparent 1%, 
                $light_blue 1%
            );
        background-position: center;
        background-size: 150000%;
    }


    &__poem-button:active {
        transition: background 0.3s;
        background-size: 100%;
        background-color: #cbdff0;
    }

}

    button {
        border: none;
        border-radius: 10px;
        padding: 15px 20px;
        font-size: $h4_text_size_m;
        text-transform: uppercase;
        cursor: pointer;
        background-color: $dark_blue;
        box-shadow: 0 0 4px #999;
        outline: none;
        color: $white;
    }