@use '../../partials/breakpoints' as *;
@use '../../partials/colors' as *;
@use '../../partials/textstyles' as *;
@use '../../partials/typeface' as *;

.aboutMeBio {

    &__section {
        @include tablet {
            padding: 20px;
        }
    }

    &__container {
        display: flex;
        flex-direction: column-reverse;
        @include tablet {
            display: flex;
            flex-direction: row;  
            align-items: center;             
        }

    }

    &__text {
        margin: 10px;
        font-size: $h3_text_size_m;
        line-height: $h3_line_height_m;
        @include tablet {
            margin: 50px;
            font-size: $h3_text_size_dt;
            line-height: $h2_line_height_dt;
        }
    }

    &__image {
        margin: 10px;
        width: 30%;
        height: 40%;
        border-radius: 30px;
    }
}