@use '../../partials/breakpoints' as *;
@use '../../partials/colors' as *;
@use '../../partials/textstyles' as *;
@use '../../partials/typeface' as *;


.poemFormInputs {

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__subcontainer {
        padding: 30px 30px 30px 0;
        display: flex;
        align-items: center;
        @include tablet {
            padding-right: 350px;
        }
    }

    &__poet,
    &__poemName,
    &__poem {
        padding-right: 20px;
    }

    &__poet-input,
    &__poemName-input {
        padding: 10px;
        font-family: 'Montserrat Light';
        width: -webkit-fill-available;

    }

    &__poem-input {
        resize: none;
        padding-bottom: 50px;
        font-family: 'Montserrat Light';
        width: -webkit-fill-available;
    }

    &__buttons {
        display: flex;
        justify-content: flex-end;
    }
    &__button {
        width: 150px;
    }

}